<div class="row">
    <div class="col-md-4"></div>
    <div class="col-md-4">
        <div class="mb-3">
            <label for="username" class="form-label">Username & Email</label>
            <input #txtUsernameOrEmail type="text" class="form-control" id="username" placeholder="Username & Email">
            <div class="form-text text-muted invalid-feedback">***</div>
        </div>
        <div class="mb-3">
          <label for="password" class="form-label">Password</label>
          <input #txtPassword type="password" class="form-control" id="password" placeholder="Password">
        </div>

        <asl-google-signin-button type='icon' size='medium'></asl-google-signin-button>

        <button type="submit" class="btn btn-primary" (click)="login(txtUsernameOrEmail.value, txtPassword.value)">Login</button>
    </div>
    <div class="col-md-4"></div>
</div> 